@import './Variable.scss';
@import './Custom.scss';


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family;
    // $font-weight: $font-weight
    // padding: 0 60px;
}
@media (min-width:1280px){
    
.container{
       padding: 0 60px;
       width: 100%;
}

}

@media (max-width:640px){
  .footer{
    padding: 0;
  }
  .container{
    padding: 0 15px;
  }

 .MainSec{

    // margin: 5px 10px;
    margin: auto;
   .HeroSec{
       padding: 20px;
     }
   }
}
// responsi for medium screen like a 640
@media (max-width:768px){
 
  .container{
    // padding: 0 70px;
    width: 100%;
    margin: auto;
  }

}

@media (max-width:1024px){
 
  .container{
    // padding: 0 70px;
    width: 100%;
    margin: auto;
  }

}
@media (max-width:1280px){
 
  .container{
    // padding: 0 70px;
    width: 100%;
    margin: auto;
  }

}
// @media (min-width:640px) {
//   .container{
//     padding: 0 20px;
//   }
// }